.App {
  text-align: center;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

button:focus, input:focus {
  outline: none;
}

iframe {
  border-radius: 10px;
}

.gradient {
  background-image: -webkit-linear-gradient(0deg, #25E7B8, #92E93B);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
