html {
  background-color: var(--bg);
}

.App {
  text-align: center;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

button:focus, input:focus {
  outline: none;
}

iframe {
  border-radius: 10px;
}

.gradient {
  /* variables declared programatically in gradient.js */
  background-image: -webkit-linear-gradient(var(--angle), var(--gradient));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}

.shot-enter {
  opacity: 0;
  transform: scale(0.2,0.2);
}

.shot-enter-active {
  opacity: 1;
  transform: scale(1,1);
  transition: transform 300ms cubic-bezier(.43,.37,.98,.39), opacity 300ms cubic-bezier(.43,.37,.98,.39);
}

.shot-exit {
  opacity: 1;
  transform: scale(1,1);
}

.shot-exit-active {
  opacity: 0;
  transform: scale(0.2,0.2);
  transition: transform 300ms cubic-bezier(.43,.37,.98,.39), opacity 300ms cubic-bezier(.43,.37,.98,.39);
}

.shot-counter-enter {
  opacity: 0;
}

.shot-counter-enter-active {
  opacity: 1;
  transition: opacity 300ms ease-in;
}

.shot-counter-exit {
  opacity: 1;
}

.shot-counter-exit-active {
  opacity: 0;
  transition: opacity 300ms ease-out;
}

.shot-counter-exit-done {
  opacity: 0;
}

.advanced-settings-enter {
  opacity: 0;
  transform: translateY(-100px);
}

.advanced-settings-enter-active {
  opacity: 1;
  transform: translateY(0px);
  transition: opacity 300ms, transform 300ms;
}

.advanced-settings-exit {
  opacity: 1;
}

.advanced-settings-exit-active {
  opacity: 0;
  transform: translateY(-100px);
  transition: opacity 300ms, transform 300ms;
}