.App {
  text-align: center;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 24px;
  font-weight: 600;
}

a {
  text-decoration: none;
}

button:focus, input:focus {
  outline: none;
}

iframe {
  border-radius: 10px;
}

.gradient {
  /* variables declared programatically in gradient.js */
  background-image: -webkit-linear-gradient(var(--angle), var(--gradient));
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
